/* @import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}

.main {
    background-image: url(assets/images/bg.jpg);
    height: 70vh;
    position: relative;
    background-position: center center;
    background-size: (1200px, 100vw);
    background-repeat: no-repeat;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.70;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    height: 50px;
}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: "Segoe UI", Roboto, Ubuntu, sans-serif;
    height: calc(100% - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 10px;
    padding: 0 30px;

}

.hero> :nth-child(1) {
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;

}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 34px;
    text-align: center;

}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 27px;
    text-align: center;
}

.sepration {
    height: 10px;
    background-color: rgb(37, 37, 37);
}

.btn {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    padding: 4px 25px 4px 20px;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    border: 0.2px solid white;
}

.btn-red {
    color: white;
    background-color: red;
    padding: 5px 32px 9px;
    border-radius: 4px;
    font-size: 20px;

}

.btn-red-sm {
    color: white;
    background-color: red;
    font-weight: 400;
    border-radius: 4px;
    cursor: pointer;
    padding: 3px 12px 3px 12px;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    padding: 11px 97px 11px 28px;
    font-weight: 600;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgba(23, 23, 23, 0.2);
    border: 1px solid rgb(70, 69, 69);
    color: white;
}

.first {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    margin: auto;
}


section.first>div {
    display: flex;
    flex-direction: column;
}

.first>div :first-child {
    font-size: 45px;
    font-weight: bolder;
}

.first>div :nth-child(2) {
    font-size: 25px;
    align-items: center;
}



.secimg {
    position: relative;
}

.secimg img {
    width: 30vw;
    position: relative;
    z-index: 10;
}

.secimg video {
    position: absolute;
    top: 80px;
    right: 71px;
    width: 22vw;
}


.second {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    margin: auto;
}


section.second>div {
    display: flex;
    flex-direction: column;
}

.second>div :first-child {
    font-size: 45px;
    font-weight: bolder;
}

.second>div :nth-child(2) {
    font-size: 25px;
    align-items: center;
}

.secimg2 {
    position: relative;
}

.secimg2 img {
    width: 35vw;
    position: relative;
    z-index: 10;
}

.secimg2 video {
    position: absolute;
    top: 42px;
    right: 105px;
    width: 22vw;
}

.Third {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    margin: auto;
}

section.Third>div {
    display: flex;
    flex-direction: column;
}

.Third>div :first-child {
    font-size: 40px;
    font-weight: bolder;
}

.Third>div :nth-child(2) {
    font-size: 20px;
    align-items: center;
}

.secimg3 {
    width: 35vw;
}


.fourth {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    margin: auto;
}

.secimg4 {
    width: 35vw;
}

section.fourth>div {
    display: flex;
    flex-direction: column;
}

.fourth>div :first-child {
    font-size: 40px;
    font-weight: bolder;
}

.fourth>div :nth-child(2) {
    font-size: 20px;
    align-items: center;
}

.faq{
    background-color:  black;
    color: white;
    padding: 34px;
}

.faq h2{
    text-align: center;
    padding: 30px;
    font-size: 35px
}

.faqbox:hover {
    background-color: rgb(100, 94, 94)
}

.faqbox {
    display: flex;
    transition: all 1s ease-out;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 20px;
    width: 100%;
    max-width: 40vw;
    margin: 5px auto;
    font-size: 20px;
    cursor: pointer;
}


/* https://web.archive.org/web/20231117000621/https://www.netflix.com/ */